{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Here</legend>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </div>
        </form>
        <div class="border-top pt-3">
            <small>
                Already Have An Account?
                <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>

{% endblock content %}